<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>

    <body>
    <h1>Hello, welcome!</h1>
        <p>{{p}}</p>
        <p>{{p}}</p>
        <p>{{p}}</p>

    <form method="post">
        <table>
            <tr>
                <td>
                    A:
                </td>
                <td>
                    <input name="a" />
                </td>
            </tr>
            <tr>
                <td>
                    B:
                </td>
                <td>
                    <input name="b" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="add"></td>
            </tr>
        </table>


    </form>
    </body>


</html>